<h1><%= @user.name %>
  <%= link_to 'Edit', edit_user_registration_path(current_user), class: 'btn btn-default'%>
</h1>
<p class="photo">My photos 
<% if user_signed_in? %>
<%= link_to 'Create new Photo', new_image_path, class: 'btn btn-default' %>
<% end %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>title</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |img| %>
    <tr>
    <td><%= image_tag img.picture.url %></td>
      <td><%= img.name %></td>
     <% if user_signed_in? %>>
      <td><%= link_to 'Remove', image_path(img.id), method: :delete, data: { confirm: 'Are you sure ? ' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>