<h1><%= current_user.name%></h1>
<p class="photo">My photos <%= link_to 'Create new Photo', new_image_path, class: 'btn btn-default' %></p>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>title</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |img| %>
    <tr>
    <td><%= image_tag img.picture.url %></td>
      <td><%= img.name %></td>
      <td><%= link_to 'Remove', '#' %></td>
    </tr>
    <% end %>
  </tbody>
</table>